<h2>Cambiar contraseña</h2>
<form class="formChangePassword" method="POST" action="changePwd">
    <label for="">Antigua contraseña</label>
    <input type="password" name="ancientPassword" class="form-control">
    <label for="">Nueva contraseña</label>
    <input type="password" name="newPassword" id="txtPassword" class="form-control" name="txtPassword" />
    <label for="">Confirmar contraseña</label>
    <input type="password" name="confirmNewPassword" class="form-control" name="txtPassword" />

    <!--<button type="button" id="btnToggle" class="toggle"><i id="eyeIcon" class="fa fa-eye"></i></button>-->
    <hr>

    <input type="submit" class="btn btn-dark" width="300px" value="Guardar Cambios"></input>

</form>